@{
    ViewData["Title"] = "WELCOME TO THE COOLEST BLOG EVER";
}

<div class="text-center">
    <h1 class="display-4">Welcome, feel free to look me up:</h1>

    <table class="table table-dark table-hoover">
        <thead>
            <tr>
                <th scope="col">On <a href="https://www.linkedin.com/in/matias-candia-dev">LinkedIn</a>.</th>>
                <th scope="col">Or see my work on <a href="https://github.com/mat-can">GitHub</a>.</th>>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>
                My name is Matias Candia. I'm a .Net developer with +2 years experience in backend development of API's.
                My goal in life is learn as much as possible, I'm always open to new opportunities and to connect with all kinds of people.
                I like a good teamwork and I can offer all of my integrity and devotion to any project that I'm in.
                Let's talk!
            </td>
            </tr>
        </tbody>
    </table>
</div>
